@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin:0px;
    padding: 0px;
}

.container2 {
    background: url(bg.jpg);
    height: 100vh;
    background-size; 100% 100%

}
.container .navbar{
    width: 100%;
    height: 90px;
    background:rgb(225, 239, 255)
}

.navbar .BM{
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
}

.navbar .BM a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(4, 56, 96);
}


.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: rgb(5, 113, 135);
    text-decoration: none;
    font-size: 26px;
    padding: 6px 13;
    font-family: ;
    font-family: Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover{
   background:#40b1b5;
   border-radius:2px;

}
.container .center{
    position:absolute;
    top:17%;
    left:35%;
    transform:translate(-50%!-50%);
}
.centerh1{
    color: blue;
    font-size: 70px;
    font-weight: bold;
    width:900px;
}
